<ion-view title="K.I.T.T.">
<!-- taken from http://codepen.io/jkeussen/pen/Fliwg -->
  <ion-content style="background-color: black">
	<div id='kitt'>
	  <div class='one'></div>
	  <div class='two'></div>
	  <div class='three'></div>
	  <div class='four'></div>
	  <div class='five'></div>
	  <div class='six'></div>
	  <div class='seven'></div>
	  <div class='eight'></div>
	  <div class='nine'></div>
	  <div class='ten'></div>
	</div>

	<!-- <audio autoplay loop>
      <source src="sound/kitt.mp3" type='audio/mpeg; codecs="mp3"'  >
	</audio> -->
  </ion-content>
</ion-view>